.specialCard {
    height: 414px;
    width: 370px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: linear-gradient(144.2deg, #E1F3FF 0%, #2AA7FF 100%);
    border: 10px solid white;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 15px 55px -10px #00000017;

}

.specialCard img {
    width: 295px;
    height: 364px;
    object-fit: contain;
    margin-top: 50px;
}

.name {
    font-size: 24px;
    font-weight: 400;
    color: #1B3C74;
    margin-left: 20px;
}

.spec {
    color: #2AA7FF;
    font-size: 17px;
    font-weight: 500;
    margin-left: 20px;
}

.swiperslider {
    margin-bottom: 60px;
}


@media screen and (max-width: 450px) {
    
}